:root {
  --search-bar-color: #dfe1e5;
  --icon-color: #9aa0a6;
  --footer-color: #f2f2f2;
  font-family: arial,sans-serif;
  font-size: 10pt;
  color: #212121;
}

body {
  /* Make the body take up the whole window*/
  width: 98vw;
  height: 98vh;
  margin: auto;

  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Show the body */
  /* border: 3px solid red; */
}

#main {
  height: 38%;
  width: 70%;

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  
  /* Show the main div */
  border: 3px solid white;
}

#search {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 3px solid red; */
}

.search-bar {
  position: relative;
  width: 60%;
  height: 40px;
  border: 0.5px solid var(--search-bar-color);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between; /* Important! To push pseudo-elements to the end */
}

.search-bar:hover {
  border: none;
  padding: 0.5px;
  box-shadow: 0 1px 6px rgb(194, 194, 194);
}

#search-bar {
  width: 90%;
  /* height: 95%; */
  padding: 10px;
  border: unset;
}

#search-bar:focus {
  outline: none;
}

.icon-mic, .icon-search {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.icon-mic { height: 25px; width: 50px; }
.icon-search {
  transform: scale(0.8);
  position: relative;
  left: 10px;
  color: var(--icon-color);
}

/* Don't need pseudoelements */
@media DISABLED {
.search-bar::before {
  /* Center the magnifier */
  font-family: "Material Icons Round";
  content: "\e8b6";
  color: var(--icon-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Semi-circle */
  position: relative;
  right: 30px;
  bottom: 1.5px;
  height: 40px;
  width: 45px; /* Adjust width > length to make the circle more smooth */
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: var(--search-bar-color);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.search-bar::after {
  /* font-family: "Material Icons Round"; */
  content: url("data:image/svg+xml,%3Csvg class='HPVvwb' focusable='false' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z' fill='%234285f4' data-darkreader-inline-fill='' style='--darkreader-inline-fill:%234ba0f4;'%3E%3C/path%3E%3Cpath d='m11 18.08h2v3.92h-2z' fill='%2334a853' data-darkreader-inline-fill='' style='--darkreader-inline-fill:%2362cf7f;'%3E%3C/path%3E%3Cpath d='m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z' fill='%23f4b400' data-darkreader-inline-fill='' style='--darkreader-inline-fill:%23ffc521;'%3E%3C/path%3E%3Cpath d='m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z' fill='%23ea4335' data-darkreader-inline-fill='' style='--darkreader-inline-fill:%23eb5043;'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;
  /* background: linear-gradient(45deg, red, red, blue); */
  /* Semi-circle */
  position: relative;
  left: 30px;
  bottom: 1.5px;
  height: 40px;
  width: 45px; /* Adjust width > length to make the circle more smooth */
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: var(--search-bar-color);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin: 10px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px;
}

.nav-link, .nav-login {
  margin: 10px;
}

.nav-icon {
 margin: 5px 7px 0px 20px;
 color: var(--icon-color)
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: gray;
}

footer .left-footer {
  float: left;
  padding-left: 10px;
}

footer .right-footer {
  float: right;
  padding-right: 10px;
}

a {
  text-decoration: unset;
  color: unset;
}
/* 
a:hover {
  text-decoration: underline;
} */