/* OVERALL */
:root {
  --search-bar-color: #dfe1e5;
  --icon-color: #9aa0a6;
  --footer-color: #f2f2f2;
  --border-color: #dadce0;
  --footer-font-color: #70757a;
  font-family: arial,sans-serif;
  font-size: 10pt;
  color: #212121;
}

/* Prevent scrollbar in full screen */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Make the body take up the whole window*/
body {
  height: 100vh;
}

/* Link base style */
a {
  text-decoration: unset;
  color: unset;
}

/* MAIN */
.main {
  height: 285px;
  width: 600px;
  padding: 10px;
  position: relative;
  top: 20%;
  margin: auto;
  /* Flex */
  display: flex;
  flex-direction: column; /* Vertically align logo, search-bar, and buttons */
  justify-content:space-between;
  align-items: center;
  /* Show the main div */
  border: 3px solid red;
}

/* Search form */
#search {
  width: 100%;
  height: 60%;
  display: flex; /* Vertically align search-bar and buttons */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px solid red;
}

.search-bar {
  width: 100%;
  height: 45px;
  border: 0.5px solid var(--search-bar-color);
  border-radius: 24px;
  display: flex; /* Horizontally align icons and textarea */
  flex-direction: row;
  align-content: center;
  justify-content: space-between; /* Important! To push pseudo-elements to the end */
}

.search-bar:hover {
  border: none;
  padding: 0.5px;
  box-shadow: 0 1px 6px rgb(194, 194, 194);
}

#search-textarea {
  width: 90%;
  padding: 10px;
  border: unset;
}

#search-textarea:focus {
  outline: none;
}

.icon-mic, .icon-search {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.icon-mic { height: 25px; width: 50px; }
.icon-search {
  transform: scale(0.8);
  position: relative;
  left: 10px;
  color: var(--icon-color);
}

/* Don't need pseudoelements */
@media DISABLED {
.search-bar::before {
  /* Center the magnifier */
  font-family: "Material Icons Round";
  content: "\e8b6";
  color: var(--icon-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Semi-circle */
  position: relative;
  right: 30px;
  bottom: 1.5px;
  height: 40px;
  width: 45px; /* Adjust width > length to make the circle more smooth */
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: var(--search-bar-color);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.search-bar::after {
  /* font-family: "Material Icons Round"; */
  content: url("data:image/svg+xml,%3Csvg class='HPVvwb' focusable='false' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z' fill='%234285f4' data-darkreader-inline-fill='' style='--darkreader-inline-fill:%234ba0f4;'%3E%3C/path%3E%3Cpath d='m11 18.08h2v3.92h-2z' fill='%2334a853' data-darkreader-inline-fill='' style='--darkreader-inline-fill:%2362cf7f;'%3E%3C/path%3E%3Cpath d='m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z' fill='%23f4b400' data-darkreader-inline-fill='' style='--darkreader-inline-fill:%23ffc521;'%3E%3C/path%3E%3Cpath d='m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z' fill='%23ea4335' data-darkreader-inline-fill='' style='--darkreader-inline-fill:%23eb5043;'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;
  /* background: linear-gradient(45deg, red, red, blue); */
  /* Semi-circle */
  position: relative;
  left: 30px;
  bottom: 1.5px;
  height: 40px;
  width: 45px; /* Adjust width > length to make the circle more smooth */
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: var(--search-bar-color);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin: 10px 5px 0 5px;
  padding: 10px 20px 10px 20px;
  border-width: 1px;
  border-color: transparent;
  background-color: #f8f9fa;
}
button:hover {
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 0.5px rgb(230, 229, 229);
  border-radius: 4px;
}

/* Nav bar */
nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 16px;
}
.nav-link, .nav-login {
  margin: 8px;
}
.nav-icon a {
  margin: -7px 7px 0px 10px;
  color: #5f6368;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.nav-icon a:hover {
  background-color: #f0f0f0;
  border-width: 0;
  border-radius: 50%;
}
.nav-user a img {
  border-radius: 50%;
}
.nav-user a{
  margin: -7px 0px 0px 0px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.nav-user a:hover {
  background-color: #f0f0f0;
  border-width: 0;
  border-radius: 50%;
}

/* FOOTER */
/* Footer position */
html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: var(--footer-color);
  border-top: 0.1px solid var(--border-color);
  color: var(--footer-font-color);
}
footer .left-footer {
  float: left;
  padding-left: 24px;
  font-size: 10.5pt
}
footer .right-footer {
  float: right;
  padding-right: 24px;
  font-size: 10.4pt
}
footer a {margin: 13px}

/* Adaptive size */
@media (max-width: 660px) {
  #main {
    width: 100%;
  }

  /* .footer {
    flex-direction: column;
  } */

  /* .footer-link {
    padding: 8px;
  } */

  /* .right-section {
    margin-right: 0;
  } */
}

@media (max-height: 500px) {
  html {
    height: 500px;
  }
}